body{
	margin: 0;
}
#question
{
	display: none;
}
.background
{
	/*background: linear-gradient(to right, #30E8BF 0%, #FF8235 100%);*/
	 background-image: url("magic.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.headers
{  
	color: white;
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	 background-color: black;
	margin-top: -10px;
	margin-right: 0px;
	margin-left: 0px;

}
h1{
	margin: 0px;
}
.form
{   
	margin-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;

}
.box
{ 
	
	border-radius: 10px;
	border-style: none;
	margin: 2%;
	padding: 1%;
	font-size: 20px;
}
.box2
{   
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-right: 6%;
	padding-left: 6%;
}
.box1
{   
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 6%;
	padding-left: 6%;
}

#usernames
{   
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
}
#interest
{   color: white;
	text-align: center;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
}
#response
{   
	display: none;
	font-size: 30px;
	text-align: center;
 
}
#back
{   
	margin-top: 2%;
	display: none;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
	color: white;
	text-align: center;
}
#user
{
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;

}
#showquestion
{   
	display: none;
 	padding:7%;
 	border-radius:10px;
 	border-style: none; 
}
.showquestionbutton
{
	padding-left:44%;
	padding-right: 40%;
}
#questiondiv
{  
	display: none;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 12%;
	margin-left: 17%;
	margin-right: 22%;
	background-color: rgba(65 182 208 / 40%);
	text-align: center;
	border-radius: 10px;
	border-style: none;
}

.box2
{   
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 3%;
}
#q1
{
	
	font-size: 35px;
}
#answer
{   
	font-size: 30px;
	
}
.loader
{
	
	border-top: 5px solid black; 
	border-radius: 50%;
	margin-left: 46%;
	margin-right: 40%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#quit
{
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
}
#restart
{
	display: none;
	margin-left: 41%;
	margin-right: 41%;

}

/*media query*/


@media screen and (max-width: 720px)
{
   
   .form
  {   
	margin-top: 20%;
	padding-right: 0;
	padding-left: 5%;
	text-align: center;

  }
  .box2
  {
  	margin-top: 2%;
  }
  .showquestionbutton
{
	padding-left:36%;
	padding-right: 40%;
}
#restart
{
	display: none;
	margin-left: 26%;
	margin-right: 41%;
}
}